<!-- NAVIGATION MENU -->

<ul class="sidenav" id="dropdown-content">
    <li><a href="/kicks/new">Home</a></li>
    <li><a href="/kicks/new/shop">Shop</a></li>  <li><a href="/kicks/new">Sell</a></li>
    <li><a href="mobile.html">Mobile</a></li>
      </ul>

<nav>

<div class="nav-wrapper blue lighten-1 text-white">
<a href="/kicks/shop" class="brand-logo center "><img  src="../images/kicks_stock_logo.png" width="87px" alt="Kicks Stock"
></a>

<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          
<ul id="dropdown-content" class="left hide-on-med-and-down">
<li><a href="#" ><i class="material-icons right">account_circle</i></a></li>

    
    <li><a href="/kicks">Home</a></li>
    <li><a href="/kicks/shop">Shop</a></li>      <li><a href="/kicks/new">Sell</a></li>


          </ul>
        </div>
      </nav>
