<!DOCTYPE html>
<html>
    <head>
            <% include ../partials/head.ejs %>
    </head>
    <body>
        <h1>Edit Inventory Items Page</h1>
        <form action="/kicks/<%=kicks.id%>?_method=PUT" method="POST">
    		<!--  NOTE: the form is pre-populated with values for the server-->
            Product Name: <input type="text" name="productname" /><br/>
            Description: <input type="text" name="description" /><br/>
            Price: <input type="number" name="price" /><br/>
            qty: <input type="qty" name="qty" /><br/>
            In stock: <input type="checkbox" name="inStock"
                <% if(kicks.inStock === true){ %>
                    checked
                <% } %>
            />
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
        <br/>
        <a href="/kicks/">
            <button class="btn blue">Back to Seller Page</button>
            </a>

    </body>
</html>