<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <nav>
        <% include ../partials/nav.ejs %>
    </nav>
    <div class="container">
        <br> <br>

        <h4>
            <% if(currentUser) { %>
              Welcome back <%=currentUser.username%>!
<br>
<br>
    <a href="/app" class="btn blue">Enter the marketplace!</a><br>
    <br>


              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout" class="btn blue"/>
            </h4>
            <% } else { %>
                <!-- Think about content here -->
                
              <h4>Join the community </h4> 
              <a class="btn blue" href="/users/new">Sign Up</a></h4>
              <h5>or</h5>
              <a class="btn blue" href="/sessions/new">Log In</a>
            <% } %>
        </div>
            </form>

          </div>

    </div>

</body>

</html>