<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Kicks Stock Seller Account</h1>
        <form action="/kicks" method="POST">

            Product Name: <input type="text" name="productname" /><br/>
            Description: <input type="text" name="description" /><br/>
            Price: <input type="number" name="price" /><br/>
            qty: <input type="qty" name="qty" /><br/>
            New: <input type="checkbox" name="new" /><br/>
            <input type="submit" name="" value="list item"/>
        </form>
    </body>
</html>