<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Kicks Stock Seller Account</h1>
        <form action="/kicks" method="POST">

            Product Name: <input type="text" name="productname" /><br/>
            Description: <input type="text" name="description" /><br/>
            In stock: <input type="checkbox" name="inStock" /><br/>
            <input type="submit" name="" value="lets go"/>
        </form>
    </body>
</html>