<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../../partials/head.ejs %>
    </head>
    <body>
        <nav>
            <% include ../../partials/nav.ejs %>
        </nav>
        
        <div class="container">

    <h1>Welcome to Kicks Stock!</h1>
    <p>Click <a href="/kicks/new">here</a> to start selling.</p>
    <p>Click <a href="/kicks/shop">here</a> to start shopping.</p>

        </div>

  </body>
</html>